@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.titles {
  font-weight: 500;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  color: white !important;
}

.me-2 {
  background-color: red;
}

.add-to-cart {
  transition: transform 0.2s ease-in-out;
  margin-right: 10px;
}

.add-to-cart:hover {
  transform: translateY(-3px);
}

.add-to-cart1 {
  transition: transform 0.5s ease-in-out;
}

.add-to-cart1:hover {
  transform: translateY(-3px);
}

.button-footer {
  width: 100px;
  height: 50px;
}

footer {
  margin-top: 50px;
}